portfolioSite/.idea/.name
portfolioSite/.idea/.rakeTasks
portfolioSite/.idea/compiler.xml
portfolioSite/.idea/copyright/profiles_settings.xml
portfolioSite/.idea/encodings.xml
portfolioSite/.idea/misc.xml
portfolioSite/.idea/modules.xml
portfolioSite/.idea/scopes/scope_settings.xml
portfolioSite/.idea/uiDesigner.xml
portfolioSite/.idea/vcs.xml
portfolioSite/.idea/workspace.xml
